html,body{
    margin: 0;
    padding: 0;
}
.wrap{
    max-width: 1400px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 130px;
    background-color: #038c5a;
}
.wrapMiddle{
    width: 100%;
    font-size: 0;
}

.left{
    height: 625px;
    background-color: #03a66a;
    display: inline-block;
    position: absolute;
    left: -200px;
    width: 200px;
    font-size: .9rem;
    transition: transform .3s;
}
@media (min-width: 40rem){
    .left{
        width: 20.83%;
        left: 0;
        position: relative;
    }
}

.middle{
    height: 625px;
    width: 68.75%;
    background-color: #bbbf90;
    display: inline-block;
}
.right{
    height: 625px;
    width: 10.42%;
    background-color: #03a66a;
    display: inline-block;
}
.footer{
    height: 200px;
    width: 100%;
    background-color: #025059;
}
